body {
    background-color: rgba(150, 150, 150, 0.809);
}


.post{
    width: 450px;
    height: 640px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
 
}

.pointsheader {
    width: 50px;
    object-fit: contain;
    margin-left: 300px;
    scale: 75%;
}

.postimage {
    overflow: hidden;
    margin: auto;
    object-fit: contain;
    
}

.postheader {
    display: flex;
    margin-bottom: -10px;
}


.html5 {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 8px 8px;
}

h1 {
    text-align: initial;
    margin-top: 8px;
    font-size: small;
    margin-left: 2px;
}
.nameheader {
   margin-top: -7px;
   margin-left: 3px;
}

.postbody .posticons {
    display: flex;  
    align-items: center;
    margin-left: 10px;
    scale: 1.2;
    gap: 3px;
    margin-top: 5px;
    

   
}

.postbody .posticons img {
    max-width: 35px;
    margin-right: 8px;
    
}


.postbody .posticons2 {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-right: 10px;
    scale: 1.2;
    margin-top: 5px;
}

.postbody .posticons2 img {
    max-width: 35px;
}

.postbody {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p {
    margin-top: 10px;
    text-align: start;
    margin-left: 10px;
}

.textbody p {
    text-align: justify;
    size: 50px;
   
}
